@charset "UTF-8";

/*TYPICAL DEVICE BREAKPOINTS
Pequenas telas: até 600px
Celular: 600px - 768px
Tablet: 768px - 992px
Desktop: até 1200px
Grandes telas: acima de 1200px
*/

/*CONFIGURAÇÃO - MOBILE FIRST*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; 
}

body, html {
    background-color: burlywood;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    /*Início - centraliza*/
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*Tudo que ficar fora da borda, vai ficar escondido*/
    /*Fim - centraliza*/

    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
}

section#login > div#imagem {
    display: block;
    background: url(../imagens/bike.jpg) no-repeat;
    background-size: cover;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}